.dashboardBox {
  :global {
    .headData {
      .contentBox {
        background-color: #fff;
        border-radius: 10px;

        .title {
          background-color: #e5e5e5;
        }
      }
    }

    .mainContent {
      #leftChart {
        width: 65%;
        height: 400px;
      }

      #rightChart {
        flex: 1;
        height: 400px;
      }
    }
  }
}